Repository pagopa/trial-system, pull requests merged in 2024-06, with the labels that each got.

#50 [EC-320] Add 'Role Based Access Control Administrator' role to CD identity over TS resource group
  infra/identity/prod/main.tf
Labels: size/small, infra

#40 [IOPLT-528] Add event hub consumer
  .changeset/small-socks-roll.md
  apps/functions-subscription/local.settings.json.example
  apps/functions-subscription/package.json
  apps/functions-subscription/src/adapters/azure/cosmosdb/__tests__/subscription-history.test.ts
  apps/functions-subscription/src/adapters/azure/cosmosdb/__tests__/subscription.test.ts
  apps/functions-subscription/src/adapters/azure/cosmosdb/subscription-history.ts
  apps/functions-subscription/src/adapters/azure/functions/__tests__/mocks.ts
  apps/functions-subscription/src/adapters/azure/functions/__tests__/process-subscription-request.test.ts
  apps/functions-subscription/src/adapters/azure/functions/process-subscription-request.ts
  apps/functions-subscription/src/config.ts
  apps/functions-subscription/src/domain/__tests__/data.ts
  apps/functions-subscription/src/domain/__tests__/mocks.ts
  apps/functions-subscription/src/domain/capabilities.ts
  apps/functions-subscription/src/domain/subscription-history.ts
  apps/functions-subscription/src/domain/subscription.ts
  apps/functions-subscription/src/main.ts
  apps/functions-subscription/src/system-env.ts
  apps/functions-subscription/src/use-cases/__tests__/process-subscription-request.test.ts
  apps/functions-subscription/src/use-cases/process-subscription-request.ts
  infra/resources/modules/commons/function_async.tf
  infra/resources/modules/commons/function_subscription.tf
  infra/resources/modules/commons/network.tf
  package.json
Labels: apps, changeset, infra

#53 [IOPLT-548] Create lease container
  infra/resources/modules/commons/containers.tf
Labels: size/small, infra

#51 [IOPLT-545] Create Cosmos DB activations container
  infra/resources/modules/commons/containers.tf
Labels: size/small, infra

#58 Avoid host ID collisions
  infra/resources/modules/commons/function_async.tf
Labels: size/small, infra

#59 [IOPLT-552] Add process-subscription-history-changes
  .changeset/honest-phones-return.md
  apps/functions-subscription/local.settings.json.example
  apps/functions-subscription/src/adapters/azure/cosmosdb/__tests__/mocks.ts
  apps/functions-subscription/src/adapters/azure/cosmosdb/__tests__/subscription.test.ts
  apps/functions-subscription/src/adapters/azure/cosmosdb/subscription.ts
  apps/functions-subscription/src/adapters/azure/functions/__tests__/process-subscription-history-changes.test.ts
  apps/functions-subscription/src/adapters/azure/functions/process-subscription-history-changes.ts
  apps/functions-subscription/src/config.ts
  apps/functions-subscription/src/domain/__tests__/mocks.ts
  apps/functions-subscription/src/domain/subscription.ts
  apps/functions-subscription/src/main.ts
  infra/resources/modules/commons/function_async.tf
  infra/resources/modules/commons/function_subscription.tf
Labels: apps, changeset, infra

#52 [IOPLT-546] CosmosDB activations trigger
  .changeset/chatty-queens-develop.md
  apps/functions-subscription/local.settings.json.example
  apps/functions-subscription/src/adapters/azure/cosmosdb/__tests__/activation-job.test.ts
  apps/functions-subscription/src/adapters/azure/cosmosdb/__tests__/activation-request.test.ts
  apps/functions-subscription/src/adapters/azure/cosmosdb/__tests__/mocks.ts
  apps/functions-subscription/src/adapters/azure/cosmosdb/activation-request.ts
  apps/functions-subscription/src/adapters/azure/cosmosdb/decode.ts
  apps/functions-subscription/src/adapters/azure/functions/__tests__/mocks.ts
  apps/functions-subscription/src/adapters/azure/functions/activation-job.ts
  apps/functions-subscription/src/config.ts
  apps/functions-subscription/src/domain/__tests__/data.ts
  apps/functions-subscription/src/domain/__tests__/mocks.ts
  apps/functions-subscription/src/domain/activation-job.ts
  apps/functions-subscription/src/domain/activation-request.ts
  apps/functions-subscription/src/domain/capabilities.ts
  apps/functions-subscription/src/main.ts
  apps/functions-subscription/src/system-env.ts
  apps/functions-subscription/src/use-cases/__tests__/process-activation-job.test.ts
  apps/functions-subscription/src/use-cases/process-activation-job.ts
  infra/resources/modules/commons/function_async.tf
  infra/resources/modules/commons/function_subscription.tf
Labels: apps, changeset, infra, size/large

#56 [IOPLT-467] Add events producer
  .changeset/bright-numbers-wonder.md
  apps/functions-subscription/api/internal.yaml
  apps/functions-subscription/local.settings.json.example
  apps/functions-subscription/package.json
  apps/functions-subscription/src/adapters/azure/functions/__tests__/events-producer.test.ts
  apps/functions-subscription/src/adapters/azure/functions/events-producer.ts
  apps/functions-subscription/src/adapters/azure/servicebus/__tests__/event.test.ts
  apps/functions-subscription/src/adapters/azure/servicebus/__tests__/mocks.ts
  apps/functions-subscription/src/adapters/azure/servicebus/event.ts
  apps/functions-subscription/src/config.ts
  apps/functions-subscription/src/domain/__tests__/mocks.ts
  apps/functions-subscription/src/domain/capabilities.ts
  apps/functions-subscription/src/domain/event.ts
  apps/functions-subscription/src/main.ts
  infra/resources/modules/commons/function_async.tf
  infra/resources/modules/commons/function_subscription.tf
  infra/resources/modules/commons/servicebus.tf
  yarn.lock
Labels: apps, changeset, infra

#67 Add capacity to servicebus
  infra/resources/modules/commons/function_async.tf
  infra/resources/modules/commons/servicebus.tf
Labels: size/small, infra

#54 [IOPLT-536] Add the APIs used by third-party services
  apps/functions-subscription/api/public.yaml
Labels: size/small, apps

#64 [IOPLT-549] Create activation request
  .changeset/tough-planes-behave.md
  apps/functions-subscription/local.settings.json.example
  apps/functions-subscription/package.json
  apps/functions-subscription/src/adapters/azure/cosmosdb/__tests__/activation-request.test.ts
  apps/functions-subscription/src/adapters/azure/cosmosdb/activation-request.ts
  apps/functions-subscription/src/adapters/ulid/__tests__/ulid.test.ts
  apps/functions-subscription/src/adapters/ulid/monotonic-id.ts
  apps/functions-subscription/src/domain/__tests__/data.ts
  apps/functions-subscription/src/domain/__tests__/mocks.ts
  apps/functions-subscription/src/domain/activation-request.ts
  apps/functions-subscription/src/domain/capabilities.ts
  apps/functions-subscription/src/domain/monotonic-id.ts
  apps/functions-subscription/src/main.ts
  apps/functions-subscription/src/use-cases/__tests__/process-subscription-request.test.ts
  apps/functions-subscription/src/use-cases/process-subscription-request.ts
  yarn.lock
Labels: size/small, apps, changeset

#69 Add missing SERVICEBUS_NAMESPACE to fun envs
  apps/functions-subscription/local.settings.json.example
  infra/resources/modules/commons/function_async.tf
  infra/resources/modules/commons/function_subscription.tf
  infra/resources/modules/commons/locals.tf
  infra/resources/modules/commons/servicebus.tf
Labels: size/small, apps, infra

#70 Remove _etag from excluded_path on cosmos
  infra/resources/modules/commons/containers.tf
Labels: size/small, infra

#71 [IOPLT-556] Add process-activations-changes
  .changeset/famous-carrots-wonder.md
  apps/functions-subscription/local.settings.json.example
  apps/functions-subscription/src/adapters/azure/cosmosdb/__tests__/activation-job.test.ts
  apps/functions-subscription/src/adapters/azure/cosmosdb/__tests__/subscription-history.test.ts
  apps/functions-subscription/src/adapters/azure/cosmosdb/subscription-history.ts
  apps/functions-subscription/src/adapters/azure/functions/__tests__/mocks.ts
  apps/functions-subscription/src/adapters/azure/functions/__tests__/process-activations-changes.test.ts
  apps/functions-subscription/src/adapters/azure/functions/process-activations-changes.ts
  apps/functions-subscription/src/domain/__tests__/data.ts
  apps/functions-subscription/src/domain/__tests__/mocks.ts
  apps/functions-subscription/src/domain/capabilities.ts
  apps/functions-subscription/src/domain/subscription-history.ts
  apps/functions-subscription/src/main.ts
  apps/functions-subscription/src/system-env.ts
  apps/functions-subscription/src/use-cases/__tests__/process-activation-job.test.ts
  apps/functions-subscription/src/use-cases/__tests__/process-activation-request.test.ts
  apps/functions-subscription/src/use-cases/process-activation-job.ts
  apps/functions-subscription/src/use-cases/process-activation-request.ts
Labels: apps, changeset

#74 Set AzureFunctionsWebHost__hostid
  infra/resources/modules/commons/function_async.tf
Labels: size/small, infra

#73 Use vitest-mock-extended
  apps/functions-subscription/package.json
  apps/functions-subscription/src/domain/__tests__/mocks.ts
  apps/functions-subscription/src/use-cases/__tests__/process-activation-job.test.ts
  apps/functions-subscription/src/use-cases/__tests__/process-activation-request.test.ts
  apps/functions-subscription/src/use-cases/__tests__/process-subscription-request.test.ts
  yarn.lock
Labels: size/small, apps

#75 Fix issues on activations change feed
  .changeset/sixty-pans-pretend.md
  apps/functions-subscription/src/adapters/azure/cosmosdb/__tests__/subscription-history.test.ts
  apps/functions-subscription/src/adapters/azure/cosmosdb/subscription-history.ts
  apps/functions-subscription/src/domain/__tests__/data.ts
  apps/functions-subscription/src/main.ts
  apps/functions-subscription/src/use-cases/__tests__/process-activation-request.test.ts
  apps/functions-subscription/src/use-cases/process-activation-request.ts
Labels: size/small, apps, changeset

#79 Update servicebus definition
  infra/resources/modules/commons/servicebus.tf
Labels: size/small, infra

#60 [IOPLT-553] Create OpenAPI for activations endpoint
  apps/functions-subscription/api/internal.yaml
Labels: size/small, apps

#80 Change misleading error message
  apps/functions-subscription/src/use-cases/__tests__/get-subscription.test.ts
  apps/functions-subscription/src/use-cases/get-subscription.ts
Labels: size/small, apps

#81 [IOPLT-567] Add state property to create subscription endpoint
  apps/functions-subscription/api/internal.yaml
Labels: size/small, apps

#61 [IOPLT-554] Create activation job handler
  .changeset/plenty-pillows-draw.md
  apps/functions-subscription/src/adapters/azure/cosmosdb/__tests__/activation-job.test.ts
  apps/functions-subscription/src/adapters/azure/cosmosdb/activation-job.ts
  apps/functions-subscription/src/adapters/azure/functions/__tests__/data.ts
  apps/functions-subscription/src/adapters/azure/functions/__tests__/insert-activation-job.test.ts
  apps/functions-subscription/src/adapters/azure/functions/__tests__/mocks.ts
  apps/functions-subscription/src/adapters/azure/functions/__tests__/process-activations-changes.test.ts
  apps/functions-subscription/src/adapters/azure/functions/insert-activation-job.ts
  apps/functions-subscription/src/domain/__tests__/activation-job.test.ts
  apps/functions-subscription/src/domain/__tests__/mocks.ts
  apps/functions-subscription/src/domain/activation-job.ts
  apps/functions-subscription/src/domain/capabilities.ts
  apps/functions-subscription/src/main.ts
  apps/functions-subscription/src/system-env.ts
Labels: size/small, apps, changeset

#82 [IOPLT-568] Create a subscription providing a state
  .changeset/rare-chairs-sparkle.md
  apps/functions-subscription/src/adapters/azure/functions/__tests__/data.ts
  apps/functions-subscription/src/adapters/azure/functions/__tests__/insert-subscription.test.ts
  apps/functions-subscription/src/adapters/azure/functions/insert-subscription.ts
  apps/functions-subscription/src/domain/subscription-history.ts
  apps/functions-subscription/src/domain/subscription-request.ts
  apps/functions-subscription/src/domain/subscription.ts
  apps/functions-subscription/src/use-cases/__tests__/insert-subscription.test.ts
  apps/functions-subscription/src/use-cases/get-subscription.ts
  apps/functions-subscription/src/use-cases/insert-subscription.ts
  apps/functions-subscription/src/use-cases/process-activation-request.ts
Labels: size/small, apps, changeset

#84 [IOPLT-569] Add GET activation job operation OpenAPI spec
  apps/functions-subscription/api/internal.yaml
Labels: size/small, apps

#87 Refactor activation-job
  .changeset/wet-beers-flash.md
  apps/functions-subscription/api/internal.yaml
  apps/functions-subscription/src/adapters/azure/cosmosdb/__tests__/activation-job.test.ts
  apps/functions-subscription/src/adapters/azure/cosmosdb/__tests__/activation-request.test.ts
  apps/functions-subscription/src/adapters/azure/cosmosdb/activation-job.ts
  apps/functions-subscription/src/adapters/azure/cosmosdb/activation-request.ts
  apps/functions-subscription/src/domain/__tests__/activation-job.test.ts
  apps/functions-subscription/src/domain/__tests__/data.ts
  apps/functions-subscription/src/domain/activation-job.ts
  apps/functions-subscription/src/main.ts
Labels: size/small, apps, changeset

#85 [IOPLT-571] Implement get activation job
  .changeset/fuzzy-lizards-run.md
  apps/functions-subscription/src/adapters/azure/cosmosdb/__tests__/activation-job.test.ts
  apps/functions-subscription/src/adapters/azure/cosmosdb/activation-job.ts
  apps/functions-subscription/src/adapters/azure/functions/__tests__/data.ts
  apps/functions-subscription/src/adapters/azure/functions/__tests__/get-activation-job.test.ts
  apps/functions-subscription/src/adapters/azure/functions/__tests__/mocks.ts
  apps/functions-subscription/src/adapters/azure/functions/codec.ts
  apps/functions-subscription/src/adapters/azure/functions/get-activation-job.ts
  apps/functions-subscription/src/adapters/azure/functions/insert-activation-job.ts
  apps/functions-subscription/src/domain/__tests__/activation-job.test.ts
  apps/functions-subscription/src/domain/__tests__/data.ts
  apps/functions-subscription/src/domain/__tests__/mocks.ts
  apps/functions-subscription/src/domain/activation-job.ts
  apps/functions-subscription/src/domain/capabilities.ts
  apps/functions-subscription/src/main.ts
  apps/functions-subscription/src/system-env.ts
Labels: apps, changeset

#86 [IOPLT-570] Add update activation job
  .changeset/dry-kids-clap.md
  apps/functions-subscription/api/internal.yaml
  apps/functions-subscription/src/adapters/azure/cosmosdb/__tests__/activation-job.test.ts
  apps/functions-subscription/src/adapters/azure/cosmosdb/activation-job.ts
  apps/functions-subscription/src/adapters/azure/cosmosdb/errors.ts
  apps/functions-subscription/src/adapters/azure/functions/__tests__/data.ts
  apps/functions-subscription/src/adapters/azure/functions/__tests__/mocks.ts
  apps/functions-subscription/src/adapters/azure/functions/__tests__/update-activation-job.test.ts
  apps/functions-subscription/src/adapters/azure/functions/codec.ts
  apps/functions-subscription/src/adapters/azure/functions/update-activation-job.ts
  apps/functions-subscription/src/domain/__tests__/activation-job.test.ts
  apps/functions-subscription/src/domain/activation-job.ts
  apps/functions-subscription/src/main.ts
  apps/functions-subscription/src/system-env.ts
Labels: apps, changeset

#89 [IOPLT-576] Fix number of activation requests activated by the activation job
  .changeset/loud-insects-hug.md
  apps/functions-subscription/src/use-cases/__tests__/process-activation-job.test.ts
  apps/functions-subscription/src/use-cases/process-activation-job.ts
Labels: size/small, apps, changeset

#91 Remove unused fields
  .changeset/empty-nails-design.md
  apps/functions-subscription/src/domain/__tests__/activation-job.test.ts
  apps/functions-subscription/src/domain/__tests__/data.ts
  apps/functions-subscription/src/domain/activation-job.ts
  apps/functions-subscription/src/domain/subscription.ts
Labels: size/small, apps, changeset

#92 Reduce tech debt
  apps/functions-subscription/src/adapters/azure/cosmosdb/__tests__/activation-request.test.ts
  apps/functions-subscription/src/adapters/azure/cosmosdb/activation-request.ts
  apps/functions-subscription/src/adapters/azure/cosmosdb/decode.ts
  apps/functions-subscription/src/adapters/azure/functions/get-subscription.ts
  apps/functions-subscription/src/domain/__tests__/mocks.ts
  apps/functions-subscription/src/domain/activation-request.ts
  apps/functions-subscription/src/domain/capabilities.ts
  apps/functions-subscription/src/main.ts
  apps/functions-subscription/src/use-cases/__tests__/process-activation-job.test.ts
  apps/functions-subscription/src/use-cases/__tests__/process-subscription-request.test.ts
  apps/functions-subscription/src/use-cases/process-activation-job.ts
  apps/functions-subscription/src/use-cases/process-subscription-request.ts
Labels: size/small, apps

#94 Update activation-request list
  apps/functions-subscription/src/adapters/azure/cosmosdb/activation-request.ts
  apps/functions-subscription/src/domain/activation-request.ts
Labels: size/small, apps

#95 [IOPLT-555] Execute workflow also on lockfile changes
  .github/workflows/code_review.yaml
Labels: workflows, size/small

#97 [IOPLT-447] Add `POST /trials` to OpenAPI specification
  apps/functions-subscription/api/internal.yaml
Labels: size/small, apps

#99 [IOPLT-581] Create `trials` Cosmos DB container
  infra/resources/modules/commons/containers.tf
Labels: size/small, infra

#96 [IOPLT-578] - Process active subscription request
  .changeset/lazy-houses-study.md
  apps/functions-subscription/src/adapters/azure/cosmosdb/__tests__/activation-request.test.ts
  apps/functions-subscription/src/adapters/azure/cosmosdb/activation-request.ts
  apps/functions-subscription/src/adapters/azure/eventhubs/__tests__/subscription-request.test.ts
  apps/functions-subscription/src/adapters/azure/eventhubs/__tests__/subscription.test.ts
  apps/functions-subscription/src/adapters/azure/eventhubs/subscription-request.ts
  apps/functions-subscription/src/adapters/azure/eventhubs/subscription.ts
  apps/functions-subscription/src/adapters/azure/functions/__tests__/insert-subscription.test.ts
  apps/functions-subscription/src/adapters/azure/functions/__tests__/mocks.ts
  apps/functions-subscription/src/adapters/azure/functions/__tests__/process-subscription-request.test.ts
  apps/functions-subscription/src/adapters/azure/functions/insert-subscription.ts
  apps/functions-subscription/src/adapters/azure/functions/process-subscription-request.ts
  apps/functions-subscription/src/domain/__tests__/data.ts
  apps/functions-subscription/src/domain/__tests__/mocks.ts
  apps/functions-subscription/src/domain/activation-request.ts
  apps/functions-subscription/src/domain/capabilities.ts
  apps/functions-subscription/src/domain/subscription-request.ts
  apps/functions-subscription/src/domain/subscription.ts
  apps/functions-subscription/src/main.ts
  apps/functions-subscription/src/system-env.ts
  apps/functions-subscription/src/use-cases/__tests__/create-subscription.test.ts
  apps/functions-subscription/src/use-cases/__tests__/process-activation-job.test.ts
  apps/functions-subscription/src/use-cases/__tests__/process-subscription-request.test.ts
  apps/functions-subscription/src/use-cases/create-subscription.ts
  apps/functions-subscription/src/use-cases/insert-subscription.ts
  apps/functions-subscription/src/use-cases/process-activation-job.ts
  apps/functions-subscription/src/use-cases/process-subscription-request.ts
Labels: apps, changeset

#100 [#IOPLT-582] Create Trial DNS Zone
  infra/resources/modules/commons/appgateway.tf
  infra/resources/modules/commons/dns.tf
  infra/resources/modules/commons/variables.tf
Labels: size/small, infra

#101 [IOPLT-449] Add handler to create a trial
  .changeset/old-apricots-shave.md
  apps/functions-subscription/api/internal.yaml
  apps/functions-subscription/src/adapters/azure/cosmosdb/__tests__/trial.test.ts
  apps/functions-subscription/src/adapters/azure/cosmosdb/activation-request.ts
  apps/functions-subscription/src/adapters/azure/cosmosdb/trial.ts
  apps/functions-subscription/src/adapters/azure/functions/__tests__/create-trial.test.ts
  apps/functions-subscription/src/adapters/azure/functions/__tests__/data.ts
  apps/functions-subscription/src/adapters/azure/functions/__tests__/mocks.ts
  apps/functions-subscription/src/adapters/azure/functions/codec.ts
  apps/functions-subscription/src/adapters/azure/functions/create-trial.ts
  apps/functions-subscription/src/adapters/azure/functions/get-activation-job.ts
  apps/functions-subscription/src/adapters/azure/functions/get-subscription.ts
  apps/functions-subscription/src/adapters/azure/functions/insert-activation-job.ts
  apps/functions-subscription/src/adapters/azure/functions/insert-subscription.ts
  apps/functions-subscription/src/adapters/azure/functions/update-activation-job.ts
  apps/functions-subscription/src/domain/__tests__/data.ts
  apps/functions-subscription/src/domain/__tests__/mocks.ts
  apps/functions-subscription/src/domain/activation-job.ts
  apps/functions-subscription/src/domain/activation-request.ts
  apps/functions-subscription/src/domain/capabilities.ts
  apps/functions-subscription/src/domain/subscription-history.ts
  apps/functions-subscription/src/domain/subscription.ts
  apps/functions-subscription/src/domain/trial.ts
  apps/functions-subscription/src/main.ts
  apps/functions-subscription/src/system-env.ts
  apps/functions-subscription/src/use-cases/__tests__/create-trial.test.ts
  apps/functions-subscription/src/use-cases/create-subscription.ts
  apps/functions-subscription/src/use-cases/create-trial.ts
  apps/functions-subscription/src/use-cases/get-subscription.ts
Labels: apps, changeset

#108 [IOPLT-586] - Fix SubscriptionEvent openapi definition
  .changeset/great-bugs-tie.md
  apps/functions-subscription/api/internal.yaml
  apps/functions-subscription/src/adapters/azure/servicebus/__tests__/event.test.ts
  apps/functions-subscription/src/adapters/azure/servicebus/event.ts
Labels: size/small, apps, changeset

#106 [IOPLT-588] - Add API Management Service Contributor
  infra/identity/prod/main.tf
Labels: size/small, infra

#107 [IOPLT-587] Add handler to get a trial by id
  .changeset/five-islands-kiss.md
  .changeset/stale-kids-float.md
  apps/functions-subscription/api/internal.yaml
  apps/functions-subscription/src/adapters/azure/cosmosdb/__tests__/trial.test.ts
  apps/functions-subscription/src/adapters/azure/cosmosdb/trial.ts
  apps/functions-subscription/src/adapters/azure/functions/__tests__/create-trial.test.ts
  apps/functions-subscription/src/adapters/azure/functions/__tests__/data.ts
  apps/functions-subscription/src/adapters/azure/functions/__tests__/get-trial.test.ts
  apps/functions-subscription/src/adapters/azure/functions/__tests__/mocks.ts
  apps/functions-subscription/src/adapters/azure/functions/codec.ts
  apps/functions-subscription/src/adapters/azure/functions/create-trial.ts
  apps/functions-subscription/src/adapters/azure/functions/get-trial.ts
  apps/functions-subscription/src/domain/__tests__/data.ts
  apps/functions-subscription/src/domain/__tests__/trial.test.ts
  apps/functions-subscription/src/domain/capabilities.ts
  apps/functions-subscription/src/domain/trial.ts
  apps/functions-subscription/src/main.ts
  apps/functions-subscription/src/system-env.ts
  apps/functions-subscription/src/use-cases/create-trial.ts
Labels: size/small, apps, changeset
