Repository pagopa/trial-system, pull requests merged in 2024-05, with the labels that each got.

#15 [IOPLT-476] Add labels to PRs
  .github/labeler.yaml
  .github/workflows/enrich_pr.yaml
Labels: workflows, size/small

#13 [IOPLT-474] Add code review workflow
  .github/workflows/code_review.yaml
  package.json
Labels: workflows, size/small

#16 [IOPLT-480] Initialize functions-subscription app
  .changeset/afraid-walls-joke.md
  .changeset/funny-bobcats-attack.md
  .gitignore
  apps/.gitkeep
  apps/functions-subscription/.gitignore
  apps/functions-subscription/api/internal.yaml
  apps/functions-subscription/eslint.config.mjs
  apps/functions-subscription/host.json
  apps/functions-subscription/local.settings.json.example
  apps/functions-subscription/package.json
  apps/functions-subscription/src/adapters/azure/functions/info.ts
  apps/functions-subscription/src/main.ts
  apps/functions-subscription/tsconfig.json
  package.json
  packages/eslint-config/index.js
  turbo.json
  vitest.config.ts
  vitest.workspace.ts
  yarn.lock
Labels: size/small, apps, packages, changeset

#17 [IOPLT-479, IOPLT-478] Add endpoints for subscription
  apps/functions-subscription/api/internal.yaml
Labels: size/small, apps

#24 [IOPLT-487] Add tests structure plus info handler test
  apps/functions-subscription/package.json
  apps/functions-subscription/src/adapters/azure/functions/__tests__/info.test.ts
  apps/functions-subscription/src/adapters/azure/functions/__tests__/mocks.ts
  apps/functions-subscription/src/adapters/azure/functions/info.ts
  apps/functions-subscription/src/main.ts
  package.json
  packages/eslint-config/fneslint-config.js
  packages/eslint-config/index.js
Labels: size/small, apps, packages

#26 [IOPLT-491] Fix path of code_review_infra workflow
  .github/workflows/code_review_infra.yaml
Labels: workflows, size/small

#29 [IOPLT-518] Remove `$ref` from openapi responses
  .changeset/forty-kiwis-teach.md
  apps/functions-subscription/api/internal.yaml
Labels: size/small, apps, changeset

#27 [IOPLT-444] Add insert subscription use case
  .changeset/wet-bananas-accept.md
  apps/functions-subscription/package.json
  apps/functions-subscription/src/domain/__tests__/data.ts
  apps/functions-subscription/src/domain/__tests__/mocks.ts
  apps/functions-subscription/src/domain/capabilities.ts
  apps/functions-subscription/src/domain/clock.ts
  apps/functions-subscription/src/domain/errors.ts
  apps/functions-subscription/src/domain/hash.ts
  apps/functions-subscription/src/domain/subscription-request.ts
  apps/functions-subscription/src/domain/subscription.ts
  apps/functions-subscription/src/use-cases/__tests__/insert-subscription.test.ts
  apps/functions-subscription/src/use-cases/errors.ts
  apps/functions-subscription/src/use-cases/insert-subscription.ts
  packages/eslint-config/fneslint-config.js
  yarn.lock
Labels: apps, packages, changeset

#23 [IOPLT-481] Create workflow to deploy App Functions
  .github/workflows/deploy_app_function.yaml
  .pre-commit-config.yaml
  infra/resources/modules/commons/function_subscription.tf
  infra/resources/modules/commons/network.tf
Labels: workflows, size/small, infra

#28 [IOPLT-443] Create insert subscription handler
  apps/functions-subscription/eslint.config.mjs
  apps/functions-subscription/package.json
  apps/functions-subscription/src/adapters/azure/functions/__tests__/data.ts
  apps/functions-subscription/src/adapters/azure/functions/__tests__/middleware.test.ts
  apps/functions-subscription/src/adapters/azure/functions/__tests__/mocks.ts
  apps/functions-subscription/src/adapters/azure/functions/__tests__/subscriptions.test.ts
  apps/functions-subscription/src/adapters/azure/functions/middleware.ts
  apps/functions-subscription/src/adapters/azure/functions/subscriptions.ts
  apps/functions-subscription/src/main.ts
  apps/functions-subscription/src/system-env.ts
  turbo.json
Labels: apps

#31 [IOPLT-525] Add adapters
  .changeset/plenty-ducks-rush.md
  apps/functions-subscription/local.settings.json.example
  apps/functions-subscription/package.json
  apps/functions-subscription/src/adapters/azure/cosmosdb/__tests__/mocks.ts
  apps/functions-subscription/src/adapters/azure/cosmosdb/__tests__/subscription.test.ts
  apps/functions-subscription/src/adapters/azure/cosmosdb/decode.ts
  apps/functions-subscription/src/adapters/azure/cosmosdb/errors.ts
  apps/functions-subscription/src/adapters/azure/cosmosdb/subscription.ts
  apps/functions-subscription/src/adapters/azure/eventhubs/__tests__/mocks.ts
  apps/functions-subscription/src/adapters/azure/eventhubs/__tests__/subscription-request.test.ts
  apps/functions-subscription/src/adapters/azure/eventhubs/subscription-request.ts
  apps/functions-subscription/src/adapters/azure/functions/__tests__/info.test.ts
  apps/functions-subscription/src/adapters/azure/functions/__tests__/mocks.ts
  apps/functions-subscription/src/adapters/azure/functions/info.ts
  apps/functions-subscription/src/adapters/crypto/__tests__/hash.test.ts
  apps/functions-subscription/src/adapters/crypto/hash.ts
  apps/functions-subscription/src/adapters/date/clock.ts
  apps/functions-subscription/src/config.ts
  apps/functions-subscription/src/domain/__tests__/data.ts
  apps/functions-subscription/src/domain/subscription-request.ts
  apps/functions-subscription/src/domain/subscription.ts
  apps/functions-subscription/src/main.ts
  apps/functions-subscription/src/system-env.ts
  vitest.config.ts
  yarn.lock
Labels: apps, changeset

#32 Add GitHub private runner
  infra/github-runner/prod/.terraform.lock.hcl
  infra/github-runner/prod/README.md
  infra/github-runner/prod/container_app_environment.tf
  infra/github-runner/prod/container_app_job.tf
  infra/github-runner/prod/data.tf
  infra/github-runner/prod/locals.tf
  infra/github-runner/prod/main.tf
  infra/github-runner/prod/subnet.tf
  infra/repository/.terraform.lock.hcl
  infra/resources/prod/italynorth/.terraform.lock.hcl
Labels: infra

#34 [EC-300] Add roles on PROD-IO to workflow identities
  .pre-commit-config.yaml
  infra/identity/prod/westeurope/README.md
  infra/identity/prod/westeurope/main.tf
Labels: size/small, infra

#33 [EC-299] Delete region folder in infra configuration
  .github/workflows/code_review_infra.yaml
  .github/workflows/release_infra.yaml
  infra/identity/prod/.terraform.lock.hcl
  infra/identity/prod/README.md
  infra/identity/prod/locals.tf
  infra/identity/prod/main.tf
  infra/resources/prod/.terraform.lock.hcl
  infra/resources/prod/main.tf
Labels: workflows, size/small, infra

#35 [IOPLT-530] Change authLevel to function
  .changeset/cold-clouds-walk.md
  apps/functions-subscription/src/main.ts
Labels: size/small, apps, changeset

#36 [IOPLT-529] Get subscription status
  .changeset/cold-clouds-walk.md
  .changeset/tender-needles-knock.md
  apps/functions-subscription/src/adapters/azure/functions/__tests__/data.ts
  apps/functions-subscription/src/adapters/azure/functions/__tests__/get-subscription.test.ts
  apps/functions-subscription/src/adapters/azure/functions/__tests__/insert-subscription.test.ts
  apps/functions-subscription/src/adapters/azure/functions/__tests__/mocks.ts
  apps/functions-subscription/src/adapters/azure/functions/codec.ts
  apps/functions-subscription/src/adapters/azure/functions/errors.ts
  apps/functions-subscription/src/adapters/azure/functions/get-subscription.ts
  apps/functions-subscription/src/adapters/azure/functions/insert-subscription.ts
  apps/functions-subscription/src/domain/errors.ts
  apps/functions-subscription/src/main.ts
  apps/functions-subscription/src/system-env.ts
  apps/functions-subscription/src/use-cases/__tests__/get-subscription.test.ts
  apps/functions-subscription/src/use-cases/get-subscription.ts
Labels: apps, changeset

#25 [IOPLT-490] Create CosmosDB containers
  infra/resources/modules/commons/containers.tf
  infra/resources/modules/commons/locals.tf
Labels: size/small, infra

#39 [IOPLT-532] Create event hub
  infra/resources/modules/commons/eventhub.tf
Labels: size/small, infra

#41 [IOPLT-533] Fix path that triggers the workflow
  .github/workflows/release_infra.yaml
Labels: workflows, size/small

#38 [IOPLT-531] Fix Deploy App Function workflow
  .github/workflows/deploy_app_function.yaml
  apps/functions-subscription/package.json
Labels: workflows, size/small, apps

#45 [EC-309] Add GitHub environment for App deployment and reviewers for infra deployment
  .github/workflows/deploy_app_function.yaml
  infra/repository/README.md
  infra/repository/data.tf
  infra/repository/github_environment_cd.tf
  infra/repository/locals.tf
Labels: workflows, size/small, infra

#43 [IOPLT-534] Migrate to managed identities
  .changeset/sour-hounds-learn.md
  apps/functions-subscription/local.settings.json.example
  apps/functions-subscription/package.json
  apps/functions-subscription/src/config.ts
  apps/functions-subscription/src/main.ts
  infra/resources/modules/commons/eventhub.tf
  infra/resources/modules/commons/function_subscription.tf
  infra/resources/modules/commons/network.tf
  yarn.lock
Labels: size/small, apps, changeset, infra

#46 [EC-309] Add CD identity for app deployments
  infra/identity/prod/README.md
  infra/identity/prod/main.tf
  infra/repository/README.md
  infra/repository/data.tf
  infra/repository/github_environment_cd.tf
  infra/repository/locals.tf
Labels: size/small, infra

#47 Add the private endpoint removed by another PR
  infra/resources/modules/commons/network.tf
Labels: size/small, infra

#48 fix function dns zone
  infra/resources/modules/commons/network.tf
Labels: size/small, infra

#49 [IOPLT-538] Enable system identity on function-async
  infra/resources/modules/commons/function_async.tf
Labels: size/small, infra
