Repository pagopa/trial-system, pull requests merged in 2024-10, with the labels that each got.

#132 [IOPLT-709] Configure Application Insights
  .changeset/nine-books-mate.md
  .changeset/tasty-avocados-sneeze.md
  apps/functions-subscription/host.json
  apps/functions-subscription/local.settings.json.example
  apps/functions-subscription/package.json
  apps/functions-subscription/src/adapters/azure/applicationinsights/index.ts
  apps/functions-subscription/src/config.ts
  apps/functions-subscription/src/main.ts
  infra/resources/modules/commons/function_api.tf
  infra/resources/modules/commons/function_consumptions.tf
  infra/resources/modules/commons/insights.tf
  yarn.lock
Labels: size/small, apps, changeset, infra

#209 [IOPLT-710] Expose `/info` endpoint
  .changeset/kind-mails-warn.md
  infra/resources/modules/commons/api/ts_management/v1/_openapi.yaml
Labels: size/small, changeset, infra

#188 [IOPLT-695] Enforce config type
  .changeset/small-windows-smoke.md
  .changeset/strange-peas-poke.md
  apps/functions-subscription/local.settings.json.example
  apps/functions-subscription/src/adapters/azure/functions/__tests__/process-activations-changes.test.ts
  apps/functions-subscription/src/config.ts
  infra/resources/modules/commons/function_api.tf
Labels: size/small, apps, changeset, infra

#213 Add new secret `ts-api-fn-key-KEY-APIM`
  .changeset/wet-pianos-glow.md
  infra/resources/modules/commons/apim.tf
Labels: size/small, changeset, infra

#214 [IOPLT-736] Update secret reference
  .changeset/shy-pandas-approve.md
  infra/resources/modules/commons/apim.tf
Labels: size/small, changeset, infra

#216 [IOPLT-719] Turn off consumers on staging slot
  .changeset/late-ducks-jam.md
  infra/resources/modules/commons/function_consumptions.tf
Labels: size/small, changeset, infra

#215 [IOPLT-734] Delete old secret
  .changeset/fifty-spies-refuse.md
  infra/resources/modules/commons/apim.tf
Labels: size/small, changeset, infra

#220 [IOPLT-732] Create new trial container
  .changeset/gorgeous-cycles-tie.md
  infra/resources/modules/commons/containers.tf
Labels: size/small, changeset, infra

#218 [IOPLT-731] Add missing headers to HTTP request on unit tests
  .changeset/tiny-singers-serve.md
  apps/functions-subscription/src/adapters/azure/functions/__tests__/create-trial.test.ts
  apps/functions-subscription/src/adapters/azure/functions/__tests__/data.ts
  apps/functions-subscription/src/adapters/azure/functions/__tests__/get-activation-job.test.ts
  apps/functions-subscription/src/adapters/azure/functions/__tests__/get-subscription.test.ts
  apps/functions-subscription/src/adapters/azure/functions/__tests__/update-activation-job.test.ts
  apps/functions-subscription/src/adapters/azure/functions/__tests__/update-subscription.test.ts
Labels: size/small, apps, changeset

#219 [IOPLT-730] Add new middleware
  .changeset/nine-dolphins-rule.md
  apps/functions-subscription/src/adapters/azure/functions/__tests__/middleware.test.ts
  apps/functions-subscription/src/adapters/azure/functions/middleware.ts
  apps/functions-subscription/src/domain/users.ts
Labels: size/small, apps, changeset

#226 [#IOPLT-733] Add Bash script for massive activation from csv
  scripts/ops-scripts/bin/trial-activate.sh
Labels: size/small

#225 [IOPLT-737] Create script to migrate trials
  .changeset/polite-tools-hug.md
  scripts/ops-scripts/.env.example
  scripts/ops-scripts/package.json
  scripts/ops-scripts/src/migrate-trials.ts
Labels: size/small, changeset

#229 [IOPLT-739] Replace authorization middleware
  .changeset/wise-parrots-remain.md
  apps/functions-subscription/src/adapters/azure/functions/__tests__/get-trial.test.ts
  apps/functions-subscription/src/adapters/azure/functions/__tests__/insert-subscription.test.ts
  apps/functions-subscription/src/adapters/azure/functions/__tests__/middleware.test.ts
  apps/functions-subscription/src/adapters/azure/functions/create-trial.ts
  apps/functions-subscription/src/adapters/azure/functions/get-activation-job.ts
  apps/functions-subscription/src/adapters/azure/functions/get-subscription.ts
  apps/functions-subscription/src/adapters/azure/functions/get-trial.ts
  apps/functions-subscription/src/adapters/azure/functions/insert-subscription.ts
  apps/functions-subscription/src/adapters/azure/functions/middleware.ts
  apps/functions-subscription/src/adapters/azure/functions/update-activation-job.ts
  apps/functions-subscription/src/adapters/azure/functions/update-subscription.ts
Labels: size/small, apps, changeset

#231 [IOPLT-740] Save `ownerId` when creating a trial
  .changeset/dry-moles-dance.md
  apps/functions-subscription/src/adapters/azure/functions/__tests__/create-trial.test.ts
  apps/functions-subscription/src/adapters/azure/functions/__tests__/data.ts
  apps/functions-subscription/src/adapters/azure/functions/create-trial.ts
  apps/functions-subscription/src/domain/__tests__/data.ts
  apps/functions-subscription/src/domain/__tests__/trial.test.ts
  apps/functions-subscription/src/domain/trial.ts
Labels: size/small, apps, changeset

#227 [IOPLT-743] Refactors cosmos adapters
  .changeset/cuddly-owls-fix.md
  .changeset/wet-birds-turn.md
  apps/functions-subscription/src/adapters/azure/cosmosdb/__tests__/subscription-history.test.ts
  apps/functions-subscription/src/adapters/azure/cosmosdb/__tests__/subscription.test.ts
  apps/functions-subscription/src/adapters/azure/cosmosdb/__tests__/trial.test.ts
  apps/functions-subscription/src/adapters/azure/cosmosdb/subscription-history.ts
  apps/functions-subscription/src/adapters/azure/cosmosdb/subscription.ts
  apps/functions-subscription/src/adapters/azure/cosmosdb/trial.ts
  apps/functions-subscription/src/config.ts
  apps/functions-subscription/src/main.ts
  infra/resources/modules/commons/function_api.tf
  infra/resources/modules/commons/function_consumptions.tf
Labels: size/small, apps, changeset, infra

#232 [IOPLT-741] Update value of `TRIALS_COSMOSDB_CONTAINER_NAME` environment variable
  .changeset/tame-laws-compete.md
  infra/resources/modules/commons/function_api.tf
  infra/resources/modules/commons/function_consumptions.tf
Labels: size/small, changeset, infra

#238 Revert "[IOPLT-741] Update value of `TRIALS_COSMOSDB_CONTAINER_NAME` environment variable"
  .changeset/happy-tips-drop.md
  infra/resources/modules/commons/function_api.tf
  infra/resources/modules/commons/function_consumptions.tf
Labels: size/small, changeset, infra

#234 [IOPLT-749] Create `ApiTrialSupport` APIM group
  .changeset/spotty-olives-brush.md
  infra/resources/modules/commons/apim.tf
Labels: size/small, changeset, infra

#239 [IOPLT-750] Convert from point read to query
  .changeset/fast-years-study.md
  apps/functions-subscription/local.settings.json.example
  apps/functions-subscription/src/adapters/azure/cosmosdb/__tests__/trial.test.ts
  apps/functions-subscription/src/adapters/azure/cosmosdb/trial.ts
Labels: size/small, apps, changeset

#242 [IOPLT-741] Update reference of trial container
  .changeset/ten-fireants-design.md
  apps/functions-subscription/local.settings.json.example
  infra/resources/modules/commons/function_api.tf
  infra/resources/modules/commons/function_consumptions.tf
Labels: size/small, apps, changeset, infra

#233 [IOPLT-742] Delete `trials` container
  .changeset/nine-ladybugs-scream.md
  infra/resources/modules/commons/containers.tf
Labels: size/small, changeset, infra

#249 [IOPLT-765] Add user Support PagoPA to ApiTrialSupport.
  .changeset/stupid-masks-yawn.md
  infra/resources/modules/commons/apim.tf
Labels: size/small, changeset, infra
