Repository pagopa/trial-system, pull requests merged in 2024-11, with the labels that each got.

#254 [IOPLT-767] Add authorization on missing endpoints
  .changeset/shaggy-vans-serve.md
  apps/functions-subscription/src/adapters/azure/functions/__tests__/data.ts
  apps/functions-subscription/src/adapters/azure/functions/__tests__/get-activation-job.test.ts
  apps/functions-subscription/src/adapters/azure/functions/__tests__/insert-subscription.test.ts
  apps/functions-subscription/src/adapters/azure/functions/__tests__/update-activation-job.test.ts
  apps/functions-subscription/src/adapters/azure/functions/__tests__/update-subscription.test.ts
  apps/functions-subscription/src/adapters/azure/functions/get-activation-job.ts
  apps/functions-subscription/src/adapters/azure/functions/get-subscription.ts
  apps/functions-subscription/src/adapters/azure/functions/update-activation-job.ts
  apps/functions-subscription/src/adapters/azure/functions/update-subscription.ts
  apps/functions-subscription/src/domain/__tests__/trial.test.ts
  apps/functions-subscription/src/domain/trial.ts
  apps/functions-subscription/src/system-env.ts
  apps/functions-subscription/src/use-cases/__tests__/get-activation-job.test.ts
  apps/functions-subscription/src/use-cases/__tests__/get-subscription.test.ts
  apps/functions-subscription/src/use-cases/__tests__/update-activation-job.test.ts
  apps/functions-subscription/src/use-cases/__tests__/update-subscription.test.ts
  apps/functions-subscription/src/use-cases/get-activation-job.ts
  apps/functions-subscription/src/use-cases/get-subscription.ts
  apps/functions-subscription/src/use-cases/update-activation-job.ts
  apps/functions-subscription/src/use-cases/update-subscription.ts
Labels: size/small, apps, changeset

#246 [IOPLT-748] Add listTrials to OpenAPI Specification.
  .changeset/early-bobcats-learn.md
  apps/functions-subscription/api/internal.yaml
  infra/resources/modules/commons/api/ts_management/v1/_openapi.yaml
Labels: size/small, apps, changeset, infra

#253 [IOPLT-745] Add diagnostic settings to APIM
  .changeset/empty-pears-sell.md
  .changeset/rare-eels-flash.md
  infra/resources/modules/commons/apim.tf
Labels: size/small, changeset, infra

#259 [IOPLT-772] Add ApiTrialSupport to AllowedGroup type.
  .changeset/ninety-dolls-cough.md
  apps/functions-subscription/src/adapters/azure/functions/middleware.ts
Labels: size/small, apps, changeset

#255 [IOPLT-729] Improve OpenAPI descriptions
  .changeset/silly-seahorses-sell.md
  apps/functions-subscription/api/internal.yaml
  infra/resources/modules/commons/api/ts_management/v1/_openapi.yaml
Labels: size/small, apps, changeset, infra

#261 [IOPLT-774] Add `Support` tenant
  .changeset/famous-houses-invent.md
  apps/functions-subscription/src/adapters/azure/functions/middleware.ts
  apps/functions-subscription/src/domain/users.ts
Labels: size/small, apps, changeset

#244 [IOPLT-717] Add listTrial to CosmosDB and http layer
  .changeset/eight-dots-eat.md
  .changeset/grumpy-singers-fry.md
  apps/functions-subscription/api/internal.yaml
  apps/functions-subscription/src/adapters/azure/cosmosdb/__tests__/trial.test.ts
  apps/functions-subscription/src/adapters/azure/cosmosdb/trial.ts
  apps/functions-subscription/src/adapters/azure/functions/__tests__/data.ts
  apps/functions-subscription/src/adapters/azure/functions/__tests__/list-trials.test.ts
  apps/functions-subscription/src/adapters/azure/functions/__tests__/middleware.test.ts
  apps/functions-subscription/src/adapters/azure/functions/__tests__/mocks.ts
  apps/functions-subscription/src/adapters/azure/functions/codec.ts
  apps/functions-subscription/src/adapters/azure/functions/list-trials.ts
  apps/functions-subscription/src/adapters/azure/functions/middleware.ts
  apps/functions-subscription/src/domain/__tests__/trial.test.ts
  apps/functions-subscription/src/domain/trial.ts
  apps/functions-subscription/src/main.ts
  apps/functions-subscription/src/system-env.ts
  infra/resources/modules/commons/api/ts_management/v1/_openapi.yaml
Labels: size/small, apps, changeset, infra
