Repository pagopa/trial-system, pull requests merged in 2024-07, with the labels that each got.

#111 [IOPLT-594] Add pipelines to generate and renovate TLS cert
  infra/devops/.terraform.lock.hcl
  infra/devops/data.tf
  infra/devops/locals.tf
  infra/devops/main.tf
  infra/devops/service_connections_github.tf
  infra/devops/service_connections_tls_certificate.tf
  infra/devops/tlscert-prod-api-trial-pagopa-it.tf
Labels: infra

#104 [IOPLT-547] - Disable public access on functions
  infra/resources/modules/commons/function_async.tf
  infra/resources/modules/commons/function_subscription.tf
Labels: size/small, infra

#113 [IOPLT-601] - Activate only subscription in the subscribed state
  .changeset/brown-books-divide.md
  apps/functions-subscription/src/use-cases/__tests__/process-activation-request.test.ts
  apps/functions-subscription/src/use-cases/process-activation-request.ts
Labels: size/small, apps, changeset

#109 [IOPLT-583] Process changes on `trials` container
  .changeset/tall-frogs-complain.md
  apps/functions-subscription/api/internal.yaml
  apps/functions-subscription/local.settings.json.example
  apps/functions-subscription/package.json
  apps/functions-subscription/src/adapters/azure/cosmosdb/__tests__/trial.test.ts
  apps/functions-subscription/src/adapters/azure/cosmosdb/trial.ts
  apps/functions-subscription/src/adapters/azure/functions/__tests__/process-trial-changes.test.ts
  apps/functions-subscription/src/adapters/azure/functions/codec.ts
  apps/functions-subscription/src/adapters/azure/functions/process-trial-changes.ts
  apps/functions-subscription/src/adapters/azure/servicebus/__tests__/channel.test.ts
  apps/functions-subscription/src/adapters/azure/servicebus/__tests__/event.test.ts
  apps/functions-subscription/src/adapters/azure/servicebus/__tests__/mocks.ts
  apps/functions-subscription/src/adapters/azure/servicebus/channel.ts
  apps/functions-subscription/src/adapters/azure/servicebus/event.ts
  apps/functions-subscription/src/adapters/crypto/uuid.ts
  apps/functions-subscription/src/config.ts
  apps/functions-subscription/src/domain/__tests__/data.ts
  apps/functions-subscription/src/domain/__tests__/mocks.ts
  apps/functions-subscription/src/domain/capabilities.ts
  apps/functions-subscription/src/domain/channel.ts
  apps/functions-subscription/src/domain/trial.ts
  apps/functions-subscription/src/main.ts
  infra/resources/modules/commons/function_async.tf
  infra/resources/modules/commons/function_subscription.tf
  yarn.lock
Labels: apps, changeset, infra

#115 [IOPLT-602] Topic subscription filters event based on `trialId`
  .changeset/large-horses-enjoy.md
  apps/functions-subscription/src/adapters/azure/servicebus/__tests__/channel.test.ts
  apps/functions-subscription/src/adapters/azure/servicebus/__tests__/event.test.ts
  apps/functions-subscription/src/adapters/azure/servicebus/channel.ts
  apps/functions-subscription/src/adapters/azure/servicebus/event.ts
Labels: size/small, apps, changeset

#117 [#IOPLT-584] Apply fix for APIM subnet
  infra/resources/modules/commons/subnets.tf
Labels: size/small, infra

#118 [IOPLT-584] Update NSG name
  infra/resources/modules/commons/apim.tf
  infra/resources/modules/commons/subnets.tf
Labels: size/small, infra

#119 [IOPLT-604] Add engineering-team-cloud-eng to prod-cd env approval group
  infra/repository/.terraform.lock.hcl
  infra/repository/README.md
  infra/repository/github_repository.tf
  infra/repository/locals.tf
  infra/repository/main.tf
Labels: size/small, infra

#120 Add missing connection string
  infra/resources/modules/commons/function_async.tf
Labels: size/small, infra

#121 [IOPLT-607] Create role assignments for async function
  infra/resources/modules/commons/eventhub.tf
  infra/resources/modules/commons/function_async.tf
  infra/resources/modules/commons/function_subscription.tf
  infra/resources/modules/commons/locals.tf
  infra/resources/modules/commons/network.tf
  infra/resources/modules/commons/servicebus.tf
Labels: size/small, infra

#125 [IOPLT-610] - Add trial existence check
  .changeset/hot-boats-hide.md
  apps/functions-subscription/src/use-cases/__tests__/create-subscription.test.ts
  apps/functions-subscription/src/use-cases/create-subscription.ts
  vitest.config.ts
Labels: size/small, apps, changeset

#112 [#IOPLT-600] Add Application Gateway with DNS binding
  infra/resources/modules/commons/apim.tf
  infra/resources/modules/commons/appgateway.tf
  infra/resources/modules/commons/dns.tf
  infra/resources/modules/commons/network.tf
  infra/resources/modules/commons/variables.tf
  infra/resources/prod/main.tf
Labels: infra

#128 [#IOPLT-613] Create Trial System Management Product
  infra/resources/modules/commons/api_product/ts_management/_base_policy.xml
  infra/resources/modules/commons/apim.tf
Labels: size/small, infra

#129 [#IOPLT-614] Add wallet subscription and configure permission groups
  infra/resources/modules/commons/apim.tf
Labels: size/small, infra

#127 Rename cosmos account and pep
  infra/resources/modules/commons/database.tf
  infra/resources/modules/commons/network.tf
Labels: size/small, infra

#123 [IOPLT-535] - Remove useless private endpoint
  infra/resources/modules/commons/network.tf
Labels: size/small, infra

#22 [#IOPLT-449] Add Create Trial Handler
  .github/workflows/code_review.yaml
  apps/functions-management/package.json
  apps/functions-management/src/adapters/azure/functions/__tests__/createTrial.test.ts
  apps/functions-management/src/adapters/azure/functions/createTrial.ts
  apps/functions-management/src/main.ts
  apps/functions-management/src/middlewares/__tests__/request.test.ts
  apps/functions-management/src/middlewares/request.ts
  apps/functions-management/src/utils/trials/dependency.ts
  yarn.lock
Labels: workflows, size/small, apps

#19 [#IOPLT-483] Define Trial Model
  apps/functions-management/src/models/__tests__/trial.test.ts
  apps/functions-management/src/models/trial.ts
  infra/resources/modules/commons/database.tf
  infra/resources/modules/commons/variables.tf
  infra/resources/prod/italynorth/main.tf
Labels: size/small, apps, infra

#131 [#IOPLT-616] Add Federated identities and GH Env for Opex CI/CD
  infra/identity/prod/README.md
  infra/identity/prod/locals.tf
  infra/identity/prod/main.tf
  infra/repository/README.md
  infra/repository/data.tf
  infra/repository/github_environment_opex.tf
  infra/repository/locals.tf
Labels: size/small, infra

#135 [#IOPLT-621] Block network traffic from io VNet Gateway
  infra/identity/prod/README.md
  infra/resources/modules/commons/network.tf
Labels: size/small, infra

#134 [#IOPLT-622] Add autoscaler for Service Bus
  infra/resources/modules/commons/servicebus.tf
Labels: size/small, infra

#139 [#SIW-1329] - Peering TS VNet with ITN VNet
  infra/resources/modules/commons/network.tf
  infra/resources/modules/commons/variables.tf
  infra/resources/prod/main.tf
Labels: size/small, infra

#137 [#IOPLT-618] Add Opex dashboard pipelines
  .github/opex_filters.yaml
  .github/workflows/call_opex_api.yml
  .github/workflows/call_pr_opex_api.yml
  .github/workflows/opex_api_trial.yaml
  .github/workflows/pr_opex_api_trial.yaml
  apps/functions-subscription/.opex/management/env/prod/backend.ini
  apps/functions-subscription/.opex/management/env/prod/backend.tfvars
  apps/functions-subscription/.opex/management/env/prod/config.yaml
  apps/functions-subscription/.opex/management/env/prod/terraform.tfvars
Labels: workflows, apps

#138 Improvements due to load tests
  .changeset/mighty-gifts-drop.md
  apps/functions-subscription/host.json
  apps/functions-subscription/src/adapters/azure/cosmosdb/subscription-history.ts
  apps/functions-subscription/src/main.ts
  apps/functions-subscription/src/use-cases/__tests__/process-subscription-request.test.ts
  apps/functions-subscription/src/use-cases/process-subscription-request.ts
  infra/resources/modules/commons/containers.tf
Labels: size/small, apps, changeset, infra

#136 [#IOPLT-566] Add ops script for massive activation
  .changeset/gorgeous-poems-march.md
  .gitignore
  scripts/ops-scripts/.env.example
  scripts/ops-scripts/.gitignore
  scripts/ops-scripts/README.md
  scripts/ops-scripts/eslint.config.mjs
  scripts/ops-scripts/package.json
  scripts/ops-scripts/src/massive-activation.ts
  scripts/ops-scripts/src/parse-config.ts
  scripts/ops-scripts/tsconfig.json
  yarn.lock
Labels: changeset

#142 Add VNet peering role in CI/CD identity
  infra/identity/prod/main.tf
Labels: size/small, infra

#143 [IOPLT-625] Create replica preferred cosmos client
  .changeset/wild-ties-greet.md
  apps/functions-subscription/src/main.ts
Labels: size/small, apps, changeset

#146 [IOPLT-623] Set APIM SKU to Premium, enabling autoscaler and multi zone
  infra/identity/prod/README.md
  infra/resources/modules/commons/apim.tf
  infra/resources/prod/main.tf
Labels: size/small, infra

#147 feat: [IOPLT-624] Set autoscaler for Subscription Function App
  infra/resources/modules/commons/function_subscription.tf
Labels: infra

#149 Update Trial System API URL
  apps/functions-subscription/api/internal.yaml
Labels: size/small, apps

#151 [IOPLT-624] Infrastructure refactoring
  .github/workflows/deploy_app_function.yaml
  infra/resources/modules/commons/apim.tf
  infra/resources/modules/commons/dns.tf
  infra/resources/modules/commons/function_api.tf
  infra/resources/modules/commons/function_async.tf
  infra/resources/modules/commons/function_consumptions.tf
  infra/resources/modules/commons/network.tf
  infra/resources/modules/commons/servicebus.tf
  infra/resources/modules/commons/subnets.tf
  infra/resources/modules/commons/variables.tf
  infra/resources/prod/.terraform.lock.hcl
  infra/resources/prod/main.tf
Labels: workflows, infra, size/large

#148 Add concurrency block on GitHub Actions using terraform
  .github/workflows/code_review_infra.yaml
  .github/workflows/release_infra.yaml
Labels: workflows, size/small

#150 Infra refinement for production
  infra/resources/modules/commons/containers.tf
  infra/resources/prod/main.tf
Labels: size/small, infra

#152 [IOPLT-612] Remove create activation job endpoint
  .changeset/fast-balloons-complain.md
  .changeset/poor-beers-tap.md
  apps/functions-subscription/api/internal.yaml
  apps/functions-subscription/api/public.yaml
  apps/functions-subscription/src/adapters/azure/functions/__tests__/data.ts
  apps/functions-subscription/src/adapters/azure/functions/__tests__/insert-activation-job.test.ts
  apps/functions-subscription/src/adapters/azure/functions/__tests__/mocks.ts
  apps/functions-subscription/src/adapters/azure/functions/insert-activation-job.ts
  apps/functions-subscription/src/domain/__tests__/activation-job.test.ts
  apps/functions-subscription/src/domain/activation-job.ts
  apps/functions-subscription/src/main.ts
  apps/functions-subscription/src/system-env.ts
  infra/resources/modules/commons/api/ts_management/v1/_openapi.yaml
  scripts/ops-scripts/package.json
Labels: size/small, apps, changeset, infra

#154 Add branches-ignore on pr_title_linter_and_linker
  .github/workflows/pr_title_linter_and_linker.yaml
Labels: workflows, size/small

#144 [IOPLT-620] Add check on x-user-groups header
  .changeset/moody-gifts-impress.md
  apps/functions-subscription/src/adapters/azure/functions/__tests__/create-trial.test.ts
  apps/functions-subscription/src/adapters/azure/functions/__tests__/data.ts
  apps/functions-subscription/src/adapters/azure/functions/__tests__/get-activation-job.test.ts
  apps/functions-subscription/src/adapters/azure/functions/__tests__/get-subscription.test.ts
  apps/functions-subscription/src/adapters/azure/functions/__tests__/get-trial.test.ts
  apps/functions-subscription/src/adapters/azure/functions/__tests__/insert-subscription.test.ts
  apps/functions-subscription/src/adapters/azure/functions/__tests__/middleware.test.ts
  apps/functions-subscription/src/adapters/azure/functions/__tests__/update-activation-job.test.ts
  apps/functions-subscription/src/adapters/azure/functions/create-trial.ts
  apps/functions-subscription/src/adapters/azure/functions/get-activation-job.ts
  apps/functions-subscription/src/adapters/azure/functions/get-subscription.ts
  apps/functions-subscription/src/adapters/azure/functions/get-trial.ts
  apps/functions-subscription/src/adapters/azure/functions/insert-subscription.ts
  apps/functions-subscription/src/adapters/azure/functions/middleware.ts
  apps/functions-subscription/src/adapters/azure/functions/update-activation-job.ts
Labels: size/small, apps, changeset

#157 [IOPLT-647] Add alerts on event hub
  infra/resources/modules/commons/eventhub.tf
Labels: size/small, infra

#156 [IOPLT-648] Add Main Dashboard to Terraform
  infra/resources/data/dashboard.tpl
  infra/resources/modules/commons/dashboard.tf
Labels: infra, size/large

#158 [IOPLT-646] Fix issue on activation job processing function
  .changeset/cool-pens-kneel.md
  apps/functions-subscription/src/use-cases/__tests__/process-activation-job.test.ts
  apps/functions-subscription/src/use-cases/process-activation-job.ts
Labels: size/small, apps, changeset
