Repository pagopa/trial-system, pull requests merged in 2024-08, with the labels that each got.

#161 [IOPLT-652] Add new activation container
  infra/resources/modules/commons/containers.tf
Labels: size/small, infra

#163 [IOPLT-656] Add migration script
  .changeset/shiny-games-appear.md
  scripts/ops-scripts/package.json
  scripts/ops-scripts/src/migrate-activations.ts
  yarn.lock
Labels: size/small, changeset

#162 [IOPLT-653, IOPLT-657] Use `state` property instead of `activated`
  .changeset/proud-dolphins-bake.md
  apps/functions-subscription/src/adapters/azure/cosmosdb/__tests__/activation-job.test.ts
  apps/functions-subscription/src/adapters/azure/cosmosdb/__tests__/activation-request.test.ts
  apps/functions-subscription/src/adapters/azure/cosmosdb/activation-job.ts
  apps/functions-subscription/src/adapters/azure/cosmosdb/activation-request.ts
  apps/functions-subscription/src/domain/__tests__/data.ts
  apps/functions-subscription/src/domain/activation-request.ts
  apps/functions-subscription/src/domain/subscription.ts
  apps/functions-subscription/src/main.ts
  apps/functions-subscription/src/use-cases/__tests__/process-subscription-request.test.ts
  apps/functions-subscription/src/use-cases/process-activation-request.ts
  apps/functions-subscription/src/use-cases/process-subscription-request.ts
  infra/resources/modules/commons/dashboard.tf
  infra/resources/modules/commons/eventhub.tf
  infra/resources/modules/commons/function_api.tf
  infra/resources/modules/commons/function_consumptions.tf
Labels: size/small, apps, changeset, infra

#166 [IOPLT-655] Turn on activation consumer
  .changeset/chatty-camels-tan.md
  infra/resources/modules/commons/function_consumptions.tf
Labels: size/small, changeset, infra

#168 [IOPLT-665] Create test Apim user
  infra/resources/modules/commons/apim.tf
Labels: size/small, infra

#169 [IOPLT-666] Remove useless container
  infra/resources/modules/commons/containers.tf
Labels: size/small, infra

#171 [IOPLT-627] Add script to remove trial's subs and subs-history of load tests
  .changeset/big-kids-guess.md
  scripts/ops-scripts/package.json
  scripts/ops-scripts/src/remove-documents.ts
Labels: size/small, changeset

#173 [IOPLT-679] Remove useless scripts
  .changeset/dull-steaks-greet.md
  scripts/ops-scripts/package.json
  scripts/ops-scripts/src/migrate-activations.ts
  scripts/ops-scripts/src/remove-documents.ts
Labels: size/small, changeset

#175 [IOPLT-643] Remove duplicate open api file and fix references
  .changeset/angry-ducks-joke.md
  .changeset/itchy-humans-pay.md
  .github/opex_filters.yaml
  .github/workflows/opex_api_trial.yaml
  .github/workflows/pr_opex_api_trial.yaml
  apps/functions-subscription/.opex/management/env/prod/config.yaml
  apps/functions-subscription/api/public.yaml
  scripts/ops-scripts/package.json
Labels: workflows, apps, changeset

#177 [IOPLT-645] Improve workflow to deploy app functions
  .github/workflows/deploy_api_app_function.yaml
  .github/workflows/deploy_app_function.yaml
  .github/workflows/deploy_consumers_app_function.yaml
  infra/repository/github_environment_cd.tf
  infra/repository/locals.tf
Labels: workflows, size/small, infra
